*{
    margin: 0;
    padding: 0;
}

body{
    background: #020a18;
    font-family: 'Open Sans';
}

/* 1-й способ центрирования содержимого (устаревший) */
/* .conteiner{
    /* border: 1px solid #000;
    width: 1280px;
    margin: 0 auto;
}*/

/* 2-й способ центрирования */
/* 623 - ширина контентной части из макета 1246/2 */
/* в класс, который нужно центрировать, нужно добавить center в html */
.center{
    padding-left: calc(50% - 623px);
    padding-right: calc(50% - 623px);
}

.top{
    margin-bottom: 99px;
}

.header{
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    gap: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top_content{
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.subtitle{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}

.title{
    width: 604px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
}

.top_buttons{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.button{
    border: none;
    border-radius: 10px;
    background: #2769a7;
    padding: 10px 24px;
    height: auto;
    width: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.text{
    width: 466px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
}

.header_link{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.top_logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/*Second page*/

.content{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(3, 362px);
        justify-content: center;
        padding-top: 264px;
        padding-bottom: 243px;
}

.item{
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item_big{
    grid-column: span 2;
    grid-row: span 2;
    display: grid;
    justify-items: center;
    gap: 60px;
}

.heading{
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}

.item__text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}